<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{fragments :: boots_trap}">
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded" charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/event.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/img.css"/>
    <title>DIGS</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<main class="flex-shrink-0">
    <!-- Navigation-->
    <div th:replace="~{fragments :: nav_bar}"></div>
    <div class="card-body">
        <form th:id="formAction"
              th:method="post"
              accept="image/jpeg"
              th:role="form"
              th:action="@{/event/create}"
              th:object="${event}"
              enctype="multipart/form-data'">
            <div class="form-group">
                <div class="form-group mb-3" >
                    <label class="form-label" for="inputFile">Upload a flyer for your event</label>
                    <input type="file" id="inputFile" accept="image/jpeg" th:name="inputFile" ><br><br>
                </div>
                <div class="form-group mb-3">
                    <label for="event_Title" class="form-label">Event Title or Name</label>
                    <input type="text" class="form-control" th:name="event_Title" id="event_Title" >
                </div>
                <div class="form-group mb-3">
                    <label for="event_type" class="form-label">Event Theme Type</label>
                    <select id="event_type" class="form-select" th:name="event_type">
                        <option selected>Choose Event Theme</option>
                        <option> Appearance / Singing</option>
                        <option>Attraction</option>
                        <option>Auto,Boat & Air</option>
                        <option> Business & Professional</option>
                        <option> Charity & Causes</option>
                        <option>Community & Culture</option>
                        <option> Class, Training /Workshop</option>
                        <option>Camp, Trip/Retreat</option>
                        <option>Concert / Performance</option>
                        <option>Conference</option>
                        <option>Convention</option>
                        <option>Dinner / Gala</option>
                        <option>Festival / Fair</option>
                        <option>Family & Beauty</option>
                        <option> Film, Media, & Entertainment</option>
                        <option>Game / Competition</option>
                        <option>Health & Wellness</option>
                        <option>Hobbies & Special-Interest</option>
                        <option>Home & lifestyle / House Parties</option>
                        <option>Halloween Theme Party</option>
                        <option>Meeting /Networking_Event</option>
                        <option>Modelling & Entertainment</option>
                        <option>Party</option>
                        <option>Race / Endurance_Event/ Sports</option>
                        <option>Rally</option>
                        <option>Screening</option>
                        <option>Seminar / Talk</option>
                        <option>Tour</option>
                        <option>Tournament</option>
                        <option>TradeShow/ ConsumerShow/Expo</option>
                        <option>Food & Drink</option>
                        <option>Government & Politics</option>
                        <option>Music</option>
                        <option>Performing Visual Arts</option>
                        <option>Religion / Spirituality Mind gathering</option>
                        <option> School Activities</option>
                        <option>Skimpy Summer Pool Dips</option>
                        <option> Science & Technology</option>
                        <option>Seasonal & Holidays</option>
                        <option>Sports & Fitness</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" th:name="location" id="location">
                </div>
                <div class="form-group mb-3">
                    <label for="address1" class="form-label">Address</label>
                    <input type="text" class="form-control" th:name="address1" id="address1" placeholder="1234 Main St">
                </div>
                <div class="form-group mb-3">
                    <label for="address2" class="form-label">Address 2</label>
                    <input type="text" class="form-control" th:name="address2" id="address2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-group mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" th:name="city" id="city">
                </div>
                <div class="form-group mb-3">
                    <label for="state" class="form-label">State</label>
                    <select id="state" class="form-select" th:name="state">
                        <option selected>Choose...</option>
                        <option> AL.</option>
                        <option> AK</option>
                        <option> AZ</option>
                        <option> AR</option>
                        <option> CA</option>
                        <option> CO</option>
                        <option> CT</option>
                        <option> DE</option>
                        <option> FL</option>
                        <option> GA</option>
                        <option> HI</option>
                        <option> ID</option>
                        <option> IL</option>
                        <option> IN</option>
                        <option> IA</option>
                        <option> KS</option>
                        <option> KY</option>
                        <option> LA</option>
                        <option> ME</option>
                        <option> MD</option>
                        <option> MA</option>
                        <option> MI</option>
                        <option> MN</option>
                        <option> MS</option>
                        <option> MO</option>
                        <option> MT</option>
                        <option> NE</option>
                        <option> NV</option>
                        <option> NH</option>
                        <option> NJ</option>
                        <option> NM</option>
                        <option> NY</option>
                        <option> NC</option>
                        <option> ND</option>
                        <option> OH</option>
                        <option> OK</option>
                        <option> OR</option>
                        <option> PA</option>
                        <option> RI</option>
                        <option> SC</option>
                        <option> SD</option>
                        <option> TN</option>
                        <option> TX</option>
                        <option> UT</option>
                        <option> VT</option>
                        <option> VA</option>
                        <option> WA</option>
                        <option> WV</option>
                        <option> WI</option>
                        <option> WY</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" th:name="zip" id="zip">
                </div>
                <div class="form-group mb-3">
                    <label for="country" class="form-label">Country</label>
                    <select id="country" class="form-select" th:name="country">
                    <option selected>Choose...</option>
                    <option>Afghanistan	AFG	</option>
                    <option>Åland Islands	ALA	</option>
                    <option>Albania	ALB	</option>
                    <option>Algeria	DZA	</option>
                    <option>American Samoa	ASM	</option>
                    <option>Andorra	AND	</option>
                    <option>Angola	AGO	</option>
                    <option>Anguilla	AIA	</option>
                    <option>Antarctica	ATA	</option>
                    <option>Antigua and Barbuda	ATG	</option>
                    <option>Argentina	ARG	</option>
                    <option>Armenia	ARM	</option>
                    <option>Aruba	ABW	</option>
                    <option>Australia	AUS	</option>
                    <option>Austria	AUT	</option>
                    <option>Azerbaijan	AZE	</option>
                    <option>Bahamas	BHS	</option>
                    <option>Bahrain	BHR	</option>
                    <option>Bangladesh	BGD	</option>
                    <option>Barbados	BRB	</option>
                    <option>Belarus	BLR	</option>
                    <option>Belgium	BEL	</option>
                    <option>Belize	BLZ	</option>
                    <option>Benin	BEN	</option>
                    <option>Bermuda	BMU	</option>
                    <option>Bhutan	BTN	</option>
                    <option>Bolivia, Plurinational State of	BOL	</option>
                    <option>Bonaire, Saint Eustatius and Saba[c]	BES	</option>
                    <option>Bosnia and Herzegovina	BIH	</option>
                    <option>Botswana	BWA	</option>
                    <option>Bouvet Island	BVT	</option>
                    <option>Brazil	BRA	</option>
                    <option>British Indian Ocean Territory	IOT	</option>
                    <option>Brunei Darussalam	BRN	</option>
                    <option>Bulgaria	BGR	</option>
                    <option>Burkina Faso	BFA	</option>
                    <option>Burundi	BDI	</option>
                    <option>Cabo Verde	CPV	</option>
                    <option>Cambodia	KHM	</option>
                    <option>Cameroon	CMR	</option>
                    <option>Canada	CAN	</option>
                    <option>Cayman Islands	CYM	</option>
                    <option>Central African Republic	CAF	</option>
                    <option>Chad	TCD	</option>
                    <option>Chile	CHL	</option>
                    <option>China[b]	CHN	</option>
                    <option>Christmas Island	CXR	</option>
                    <option>Cocos (Keeling) Islands	CCK	</option>
                    <option>Colombia	COL	</option>
                    <option>Comoros	COM	</option>
                    <option>Congo	COG	</option>
                    <option>Congo, Democratic Republic of the	COD	</option>
                    <option>Cook Islands	COK	</option>
                    <option>Costa Rica	CRI	</option>
                    <option>Côte d'Ivoire	CIV	</option>
                    <option>Croatia	HRV	</option>
                    <option>Cuba	CUB	</option>
                    <option>Curaçao	CUW	</option>
                    <option>Cyprus[b]	CYP	</option>
                    <option>Czechia	CZE	</option>
                    <option>Denmark	DNK	</option>
                    <option>Djibouti	DJI	</option>
                    <option>Dominica	DMA	</option>
                    <option>Dominican Republic	DOM	</option>
                    <option>Ecuador	ECU	</option>
                    <option>Egypt	EGY	</option>
                    <option>El Salvador	SLV	</option>
                    <option>Equatorial Guinea	GNQ	</option>
                    <option>Eritrea	ERI	</option>
                    <option>Estonia	EST	</option>
                    <option>Eswatini	SWZ	</option>
                    <option>Ethiopia	ETH	</option>
                    <option>Falkland Islands (Malvinas)[b]	FLK	</option>
                    <option>Faroe Islands	FRO	</option>
                    <option>Fiji	FJI	</option>
                    <option>Finland	FIN	</option>
                    <option>France	FRA	</option>
                    <option>French Guiana	GUF	</option>
                    <option>French Polynesia	PYF	</option>
                    <option>French Southern Territories	ATF	</option>
                    <option>Gabon	GAB	</option>
                    <option>Gambia	GMB	</option>
                    <option>Georgia	GEO	</option>
                    <option>Germany	DEU	</option>
                    <option>Ghana	GHA	</option>
                    <option>Gibraltar	GIB	</option>
                    <option>Greece	GRC	</option>
                    <option>Greenland	GRL	</option>
                    <option>Grenada	GRD	</option>
                    <option>Guadeloupe	GLP	</option>
                    <option>Guam	GUM	</option>
                    <option>Guatemala	GTM	</option>
                    <option>Guernsey	GGY	</option>
                    <option>Guinea	GIN	</option>
                    <option>Guinea-Bissau	GNB	</option>
                    <option>Guyana	GUY	</option>
                    <option>Haiti	HTI	</option>
                    <option>Heard Island and McDonald Islands	HMD	</option>
                    <option>Holy See	VAT	</option>
                    <option>Honduras	HND	</option>
                    <option>Hong Kong	HKG	</option>
                    <option>Hungary	HUN	</option>
                    <option>Iceland	ISL	</option>
                    <option>India	IND	</option>
                    <option>Indonesia	IDN	</option>
                    <option>Iran, Islamic Republic of	IRN	</option>
                    <option>Iraq	IRQ	</option>
                    <option>Ireland	IRL	</option>
                    <option>Isle of Man	IMN	</option>
                    <option>Israel	ISR	</option>
                    <option>Italy	ITA	</option>
                    <option>Jamaica	JAM	</option>
                    <option>Japan	JPN	</option>
                    <option>Jersey	JEY	</option>
                    <option>Jordan	JOR	</option>
                    <option>Kazakhstan	KAZ	</option>
                    <option>Kenya	KEN	</option>
                    <option>Kiribati	KIR	</option>
                    <option>Korea, Democratic People's Republic of	PRK	</option>
                    <option>Korea, Republic of	KOR	</option>
                    <option>Kuwait	KWT	</option>
                    <option>Kyrgyzstan	KGZ	</option>
                    <option>Lao People's Democratic Republic	LAO	</option>
                    <option>Latvia	LVA	</option>
                    <option>Lebanon	LBN	</option>
                    <option>Lesotho	LSO	</option>
                    <option>Liberia	LBR	</option>
                    <option>Libya	LBY	</option>
                    <option>Liechtenstein	LIE	</option>
                    <option>Lithuania	LTU	</option>
                    <option>Luxembourg	LUX	</option>
                    <option>Macao	MAC	</option>
                    <option>Madagascar	MDG	</option>
                    <option>Malawi	MWI	</option>
                    <option>Malaysia	MYS	</option>
                    <option>Maldives	MDV	</option>
                    <option>Mali	MLI	</option>
                    <option>Malta	MLT	</option>
                    <option>Marshall Islands	MHL	</option>
                    <option>Martinique	MTQ	</option>
                    <option>Mauritania	MRT	</option>
                    <option>Mauritius	MUS	</option>
                    <option>Mayotte	MYT	</option>
                    <option>Mexico	MEX	</option>
                    <option>Micronesia, Federated States of	FSM	</option>
                    <option>Moldova, Republic of	MDA	</option>
                    <option>Monaco	MCO	</option>
                    <option>Mongolia	MNG	</option>
                    <option>Montenegro	MNE	</option>
                    <option>Montserrat	MSR	</option>
                    <option>Morocco	MAR	</option>
                    <option>Mozambique	MOZ	</option>
                    <option>Myanmar	MMR	</option>
                    <option>Namibia	NAM	</option>
                    <option>Nauru	NRU	</option>
                    <option>Nepal	NPL	</option>
                    <option>Netherlands, Kingdom of the	NLD	</option>
                    <option>New Caledonia	NCL	</option>
                    <option>New Zealand	NZL	</option>
                    <option>Nicaragua	NIC	</option>
                    <option>Niger	NER	</option>
                    <option>Nigeria	NGA	</option>
                    <option>Niue	NIU	</option>
                    <option>Norfolk Island	NFK	</option>
                    <option>North Macedonia	MKD	</option>
                    <option>Northern Mariana Islands	MNP	</option>
                    <option>Norway	NOR	</option>
                    <option>Oman	OMN	</option>
                    <option>Pakistan	PAK	</option>
                    <option>Palau	PLW	</option>
                    <option>Palestine, State of[b]	PSE	</option>
                    <option>Panama	PAN	</option>
                    <option>Papua New Guinea	PNG	</option>
                    <option>Paraguay	PRY	</option>
                    <option>Peru	PER	</option>
                    <option>Philippines	PHL	</option>
                    <option>Pitcairn	PCN	</option>
                    <option>Poland	POL	</option>
                    <option>Portugal	PRT	</option>
                    <option>Puerto Rico	PRI	</option>
                    <option>Qatar	QAT	</option>
                    <option>Réunion	REU	</option>
                    <option>Romania	ROU	</option>
                    <option>Russian Federation	RUS	</option>
                    <option>Rwanda	RWA	</option>
                    <option>Saint Barthélemy	BLM	</option>
                    <option>Saint Helena, Ascension and Tristan da Cunha[d]	SHN	</option>
                    <option>Saint Kitts and Nevis	KNA	</option>
                    <option>Saint Lucia	LCA	</option>
                    <option>Saint Martin (French part)	MAF	</option>
                    <option>Saint Pierre and Miquelon	SPM	</option>
                    <option>Saint Vincent and the Grenadines	VCT	</option>
                    <option>Samoa	WSM	</option>
                    <option>San Marino	SMR	</option>
                    <option>Sao Tome and Principe	STP	</option>
                    <option>Saudi Arabia	SAU	</option>
                    <option>Senegal	SEN	</option>
                    <option>Serbia	SRB	</option>
                    <option>Seychelles	SYC	</option>
                    <option>Sierra Leone	SLE	</option>
                    <option>Singapore	SGP	</option>
                    <option>Saint Maarten (Dutch part)	SXM	</option>
                    <option>Slovakia	SVK	</option>
                    <option>Slovenia	SVN	</option>
                    <option>Solomon Islands	SLB	</option>
                    <option>Somalia	SOM	</option>
                    <option>South Africa	ZAF	</option>
                    <option>South Georgia and the South Sandwich Islands	SGS	</option>
                    <option>South Sudan	SSD	</option>
                    <option>Spain	ESP	</option>
                    <option>Sri Lanka	LKA	</option>
                    <option>Sudan	SDN	</option>
                    <option>Suriname	SUR	</option>
                    <option>Svalbard and Jan Mayen[e]	SJM	</option>
                    <option>Sweden	SWE	</option>
                    <option>Switzerland	CHE	</option>
                    <option>Syrian Arab Republic	SYR	</option>
                    <option>Taiwan, Province of China[b]	TWN	</option>
                    <option>Tajikistan	TJK	</option>
                    <option>Tanzania, United Republic of	TZA	</option>
                    <option>Thailand	THA	</option>
                    <option>Timor-Leste	TLS	</option>
                    <option>Togo	TGO	</option>
                    <option>Tokelau	TKL	</option>
                    <option>Tonga	TON	</option>
                    <option>Trinidad and Tobago	TTO	</option>
                    <option>Tunisia	TUN	</option>
                    <option>Türkiye	TUR	</option>
                    <option>Turkmenistan	TKM	</option>
                    <option>Turks and Caicos Islands	TCA	</option>
                    <option>Tuvalu	TUV	</option>
                    <option>Uganda	UGA	</option>
                    <option>Ukraine	UKR	</option>
                    <option>United Arab Emirates	ARE	</option>
                    <option>United Kingdom of Great Britain and Northern Ireland	GBR	</option>
                    <option>United States of America	USA	</option>
                    <option>United States Minor Outlying Islands[f]	UMI	</option>
                    <option>Uruguay	URY	</option>
                    <option>Uzbekistan	UZB	</option>
                    <option>Vanuatu	VUT	</option>
                    <option>Venezuela, Bolivarian Republic of	VEN	</option>
                    <option>Viet Nam	VNM	</option>
                    <option>Virgin Islands (British)	VGB	</option>
                    <option>Virgin Islands (U.S.)	VIR	</option>
                    <option>Wallis and Futuna	WLF	</option>
                    <option>Western Sahara[b]	ESH	</option>
                    <option>Yemen	YEM	</option>
                    <option>Zambia	ZMB	</option>
                    <option>Zimbabwe	ZWE	</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="eventStart_Time" class="form-label">Start Time</label>
                    <input type="datetime-local" class="form-control" th:name="eventStart_Time" id="eventStart_Time">
                </div>
                <div class="form-group mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:name="single_Event" id="single_Event">
                        <label class="form-check-label" for="single_Event">
                            SingleEvent
                        </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:name="repetitive_Event"
                               id="repetitive_Event">
                        <label class="form-check-label" for="repetitive_Event">
                            Repetitive Event
                        </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:name="privateEvent" id="privateEvent">
                        <label class="form-check-label" for="privateEvent">
                            Private Event [ For friends ONLY check this box | Default is set to public ]
                        </label>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary" >Create</button>
                </div>
            </div>
        </form>
    </div>
</main>
</body>

<!-- Footer-->
<footer>
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; DIGS LLC | www.Dig-it.com 2024</div>
            </div>
        </div>
    </div>
</footer>
<!-- Core theme JS-->

</html>
